@font-face{
    font-family: "Vainilla";
    src: url(recurs/vainilla.ttf);
}
header{
    background-color: rgb(150, 164, 121);
    padding: 20px 20px;
    height: 140px;
}
body{
 background-color: beige;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(47, 73, 43);
    margin-left: 20px;
    margin-right: 20px;
}
p{
    font-weight: 30px;
    font-size: 15px;
}
.title{
    text-align: center;
    font-family: "Vainilla";
    color: #f5e7ba;
    font-size: 80px;
    letter-spacing: 2px;
    margin-top: -5px;
    margin-left: 130px;
}
.subtitle{
    text-align: center;
    font-family: "Vainilla";
    color: rgb(104, 90, 82);
    font-size: 50px;
    margin-top: -45px;
    margin-left: 130px;
}
.logo{
    float: right;
    margin-top: -37px;
    margin-right: 100px;
}

.bienvenido{
    margin-top: 120px;
    
    display: flex;
    gap: 10px;
}
.margen{
    margin-left: 20px;
    margin-right: 20px;
}

/*navegacion en horizontal*/
nav{
    background-color: rgb(150, 164, 121);
    padding: 2px;;
}
nav h2{
    color: #4c432d;
   
}
nav ul {
    list-style: none; 
    display: flex;
    gap: 20px; 
    align-items: center;
 }

nav a {
    text-decoration: none;
    color: #413737;
    font-weight: 500;
    padding: 10px 15px;
}
nav a:hover {
    background-color: #f0f0f0;
    color: #3f5e43;
}
.producto{
    display: flex;
    flex-shrink: 20px;
    gap: 30px;
}

.producto header{
    text-decoration: none;
    min-width: 100px; 
    max-width: 100px;
    background-color: rgb(150, 164, 121); 
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    font-style: italic;
    height: 100px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.producto p{
    text-align: justify;
}

input{
  width: 60px;  
  padding: 18px;
  height: 20px;   
}
.contacto{
    margin-top: 170px;
    margin-left: 20px;
    margin-left: 20px;
}

a:link{
    color: #3f465e;
}
a:visited{
    color: #413737;
}
a:hover{
    color: #0d4051;
}