@font-face{
    font-family: "Vainilla";
    src: url(recurs/vainilla.ttf);
}
header{
    background-color: rgb(150, 164, 121);
    padding: 30px 20px;
    text-align: center;
    
}
body{
 background-color: beige;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    font-family: "Vainilla";
    font-weight: bold;
    color: #fffef5;
    font-size: 72px;
    letter-spacing: 2px;
    margin-top: -5px;
}
.subtitle{
    text-align: center;
    color: rgb(104, 90, 82);
    font-size: 30px;
    margin-top: -23px;
    font-family: "Vainilla";
}
.bienvenido{
    float: left;
}
h2{
    color: rgb(172, 110, 84);
    margin-left: 20px;
    margin-right: 20px;
}
p{
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
