@font-face{
    font-family: "Vainilla";
    src: url(recurs/vainilla\ .ttf);
}
header{
    background-color: rgb(150, 164, 121);
    box-shadow: 0px 5px 20px rgb(176, 174, 174)  ;
    padding: 20px 20px;
    height: 140px;
}
body{
 background-color: beige;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(47, 73, 43);
}
p{
    font-weight: 30px;
    font-size: 15px;
}
.title{
    text-align: center;
    font-family: "Vainilla";
    color: #f5e7ba;
    font-size: 80px;
    letter-spacing: 2px;
    margin-top: -2px;
    margin-left: 130px;
}
.subtitle{
    text-align: center;
    font-family: "Vainilla";
    color: rgb(104, 90, 82);
    font-size: 50px;
    margin-top: -55px;
    margin-left: 130px;
}
.logo{
    float: right;
    margin-top: -37px;
    margin-right: 100px;
}

.bienvenido{
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 15px;
}
.bienvenido p{
    font-family: "Vainilla";
    font-size:30px;
    color: #4a4436;
}
.historia{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 15px;
}
.index{
    margin-left: 20px;
    margin-right: 20px;
}
.contenedor {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 5px;
   max-width: none;
}
.seccion {
    background-color:rgb(173, 184, 151);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgb(176, 174, 174);
    width: auto;
    color: #5c504b;

}
.seccion p{
    font-family:"Vainilla";
    font-size: 28px;
}
.img{
    float: right;
    border-radius: 8px;
    margin-left:5px;
    margin-right: 2px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

/*navegacion en horizontal*/
nav{
    background-color: rgb(150, 164, 121);
    box-shadow: 0px 5px 20px rgb(176, 174, 174)  ;
    padding: 2px;;
}
nav ul {
    list-style: none; 
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #413737;
    font-weight: 500;
    padding: 10px 15px;
}
nav a:hover {
    background-color: #f0f0f0;
    color: #3f5e43;
}
footer p{
    text-align: center;
}

/*Sección de productos*/
.producto{
    display: flex;
    flex-shrink: 20px;
    gap: 30px;
    height: 140px;
}
.producto header{
    text-decoration: none;
    min-width: 100px; 
    max-width: 100px;
    background-color: rgb(150, 164, 121); 
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    font-style: italic;
    height: 100px;
    font-weight: 150;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.producto p{
    text-align: justify;
}
.header-prod{
    padding: 30px 0px 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item:hover{
    transform: scale(1.2);
    transition: all .3s;
}

/*Carrito*/
.icon-car{
    width: 40px;
    height: 40px;
}
.carrito{
    background-color:rgb(150, 164, 121);
    border-color: #d5dada;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;   
    width: 130px;
    align-self: center;
}
.carrito:hover{
    background-color: #3f5e43;
    color: #d5dada;
}
.contenedor-icono{
    position: relative; 
}
.contar-prod{
    position: absolute;
    top: 50%;
    right: 50px;

    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;

    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-carrito{
    position: absolute;
    top: 440px;
    right: 30px;

    width: 400px;
    background-color: #fff;
    z-index: 1;
}
.icon-x{
    width: 25px;
    height: 25px;
}
.icon-x:hover{
    color: red;
    cursor: pointer;
}
.carro-productos{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

}
.info-carro-producto{
    display: flex;
    justify-content: space-between  ;
    flex: 0.8;
}
.nombre-producto-carrito{
    font-size: 20px;
}
.cantidad-producto-carrito{
    font-weight: 500;
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
}
.carro-total{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;  
}
.carro-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
}

/*Sección de contactos*/
.cyu{
    display: flex ;
    gap: 30px;
}
.cyu article{
    min-width: 500px;
}
.cyu a{
    text-decoration: none;
    color: #494440;
    letter-spacing: 2px;
}

.contacto{
    margin-top: 170px;
    margin-left: 20px;
    margin-left: 20px;
}

a:link{
    color: #3f465e;
}
a:visited{
    color: #413737;
}
a:hover{
    color: #0d4051;
}
::selection{
    background-color: rgb(172, 110, 84);
    color: white;
}
.espacio{
    margin-top: 150px;
}